img{
    position: relative;
    opacity: 1;
    transition: 1s all ease-in;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 10px;
    height: 200px;
    width: 200px;
    border-radius: 30px 30px 30px 30px;
    top: 50%;
    left: 0%;
    transform: translate(0, 50%);

}


img:hover{
    background: #187123;
    background-color: #187123;
    transform: scale(1.1) #187123;
    opacity: 1;
}

