@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville:ital@1&family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: 1s all ease-in;
}

body{
    height: 100vh;


}
.start{
    background: #DCDFDA;
}

ul {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    top: 0;
    padding: 33px 5%;
    flex-direction: row;
    gap: 10px;
    background: #dfd7cf;
    border-radius: 45px 45px 45px 45px;
}



.nav {
    font-family: 'Caveat', Times, serif;
    font-size: 25px;
    width: 100%;
    z-index: 1000;
    font-weight: 350;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 55px;
}

.logo {
    font-size: 35px;
    font-weight: 400;
    font-family: "DM Serif Display", serif;
    color: black;
    z-index: 1000;
    left: 75px;
    position: absolute;
}


.nav a{
    color:white;
    transition: all 0.5s ease-in;
}


.nav a:hover {
    transform: translateY(-25px);
    align-items: center;
    padding: 2px;
    background: #83E88A;
    border-radius: 30px 30px 30px 30px;
    transition: 0.6s;
}


