@tailwind base;
@tailwind components;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville:ital@1&family=Protest+Guerrilla&display=swap');


html{
    font-size: 65%;
    scroll-behavior: smooth;
    @apply bg-slate-700;
}

li{
    list-style: none;
    font-size: 25px;
    font-family: "Caveat", sans-serif;
}
.lists nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
}