li{
    list-style: none;
}

div{
    width: min(100% - 2rem);
    font-family: Cambria, Cochin, 
    Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    font: green;

}

