li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}


.lists{
    display: block;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: ease-in 5s green infinite;
    
}

.lists:hover {
    color: #ccc;
}